In [1]:
import sqlite3

In [2]:
# Create a new SQLite database
sqlite_file = 'RMR_Calculation.sqlite'    # name of the sqlite database file
table_name = 'Raw_data_to_calculate_RMR'  # name of the table to be created
new_field = 'Patient ID' # name of the column
column_type = 'BLOB'  # column data type

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Creating a new SQLite table with 1 column
c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name, nf=new_field, ft=column_type))


# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

OperationalError: table Raw_data_to_calculate_RMR already exists

In [4]:
# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Add new column
new_column1 = 'Age'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column1, ct = column_type))

new_column2 = 'Sex'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column2, ct = column_type))

new_column3 = 'Height (in)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column3, ct = column_type))

new_column4 = 'Height (cm)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column4, ct = column_type))

new_column5 = 'Weight (Ib)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column5, ct = column_type))

new_column6 = 'Weight (kg)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column6, ct = column_type))

new_column7 = 'Time (min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column7, ct = column_type))

new_column8 = 'VO2/kg STPD (ml/kg/m)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column8, ct = column_type))

new_column9 = 'VO2 STPD (L/min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column9, ct = column_type))

new_column10 = 'VO2 STPD (ml/min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column10, ct = column_type))

new_column11 = 'VCO2 STPD (L/min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column11, ct = column_type))

new_column12 = 'VCO2 STPD (ml/min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column12, ct = column_type))

new_column13 = 'VE STPD (L/min)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column13, ct = column_type))

new_column14 = 'RQ'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column14, ct = column_type))

new_column15 = 'RR (BPM)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column15, ct = column_type))

new_column16 = 'VE/VO2 (BT/ST)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column16, ct = column_type))

new_column17 = 'METS'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column17, ct = column_type))

new_column18 = 'TM SPD(mph)'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column18, ct = column_type))

new_column19 = 'Calculate Start Row'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column19, ct = column_type))

new_column20 = 'Calcualte End Row'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column20, ct = column_type))

new_column21 = 'Calcualted RMR'
c.execute("ALTER TABLE{tn} ADD COLUMN '{cn}' {ct}"\
         .format(tn = table_name, cn = new_column21, ct = column_type))

# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

OperationalError: near "TABLERaw_data_to_calculate_RMR": syntax error