In [128]:
# Properties

In [129]:
import glob, openpyxl, pandas as pd, numpy as np, xlrd, statistics as stat
from datetime import datetime
from datetime import datetime, timedelta

In [130]:
# Function to get overall time interval for each patient
def get_overall_time(dataframe):
    
    #Get list of rows for a single patient
    row_per_patient = get_row_patient(dataframe)
    row_number = get_start_row_number(row_per_patient)
    
    # Create new list
    overall_time_list = []
    
    #Get overall time
    for patient in range(0,len(row_per_patient)):
        #print("patient number is")
        #print(patient)
        start_time = get_start_time(dataframe, row_number[patient])
        delta_start = timedelta(minutes=start_time.minute, seconds=start_time.second)
        if (patient == (len(row_per_patient)-1)):
            #print("if")
            #print(patient)
            end_time = get_end_time(dataframe, (len(dataframe)-1))
        else:
            #print("else")
            #print(patient)
            end_time = get_end_time(dataframe, (row_number[patient + 1]-1))
        delta_end = timedelta(minutes=end_time.minute, seconds=end_time.second)
        delta_total = delta_end - delta_start
        overall_time_list.append(delta_total)
    
    return overall_time_list

In [131]:
def get_start_time(dataframe, row_number):
    
    start_time = datetime.strptime(dataframe['Time (min)'].values[row_number],"%M:%S")
    
    return start_time

In [132]:
def get_end_time(dataframe, row_number):
    
    end_time = datetime.strptime(dataframe['Time (min)'].values[row_number],"%M:%S")
    
    return end_time

In [133]:
def get_row_patient(dataframe):
    
    # patient ID column
    df_patientID = df_column_to_list(dataframe, 0)
    
    # List to save row counts for single patient
    row_count = []
    
    # Count the rows
    patient_num = 1
    row = 0
    while (patient_num < (dataframe.iat[(len(df_patientID)-1), 0]+1)):
        count = 0
        for row in range(row, len(df_patientID)):
            if (df_patientID[row] == patient_num):
                count = count + 1
            else: 
                break
        row_count.append(count)
        patient_num = patient_num + 1
        
    return row_count

In [134]:
def get_start_row_number(row_count):
    
    # create a new list
    row_count_new = []
    
    for index in range(0, len(row_count)):
        if (index == 0):
            #print("0 in index = 0")
            value = 0
            row_count_new.append(value)
        elif (index == 1):
            #print("1 in index = 1")
            value = 0 + row_count[0]
            #print(value)
            row_count_new.append(value)
            #print(row_count_new)
        else:
            #print(index)
            value = row_count[index-1] + row_count_new[index - 1]
            #print(value)
            row_count_new.append(value)
            #print(row_count_new)
    
    return row_count_new

In [135]:
def get_yellow_row_start(dataframe, start_row_count):
    
    # create a new list to save the yellow start row number
    yellow_start_row = []
    
    for index in range(0, len(start_row_count)):
        if (index == 0):
            value = dataframe.iat[index, 19] - 1
            yellow_start_row.append(value)
        else:
            value = dataframe.iat[start_row_count[index], 19] - 1
            start_row = start_row_count[index]
            value = value + start_row
            yellow_start_row.append(value)
    
    return yellow_start_row

In [136]:
def get_yellow_row_end(dataframe, start_row_count):
    
    # 
    yellow_end_row = []
    
    for index in range(0, len(start_row_count)):
        if (index == 0):
            value = dataframe.iat[index, 20] - 1
            yellow_end_row.append(value)
        else:
            value = dataframe.iat[start_row_count[index], 20] - 1
            start_row = start_row_count[index]
            value = value + start_row
            yellow_end_row.append(value)
        
    return yellow_end_row

In [137]:
def yellow_overall_time(dataframe, yellow_start_row, yellow_end_row):
    
    #
    yellow_overall = []
    
    #Get overall time
    for patient in range(0,len(yellow_start_row)):
        #print("patient number is")
        #print(patient)
        start_time = get_start_time(df, yellow_start_row[patient])
        delta_start = timedelta(minutes=start_time.minute, seconds=start_time.second)
        end_time = get_end_time(df, yellow_end_row[patient])
        delta_end = timedelta(minutes=end_time.minute, seconds=end_time.second)
        delta_total = delta_end - delta_start
        yellow_overall.append(delta_total)
    
    return yellow_overall

In [138]:
def append_Multi_Item(data, itemList):
    #print("start append_multi_item")
    for i in range(0,(len(itemList))):
        data.append(itemList[i])
    #print("end append_multi_item")
    return data

In [139]:
def df_column_to_list(dataframe, column_number):

    # Create a new list
    data_in_column = []
    
    # get data
    for row in range(0, len(dataframe.index)):
        value = dataframe.iat[row,column_number]
        data_in_column.append(value)
    
    return data_in_column

In [140]:
def calc_mean_VO2(dataframe, start_row_count):
    
    # Create a new list
    mean_VO2 = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 10]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VO2.append(mean)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 10]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VO2.append(mean)
    
    return mean_VO2

In [141]:
def calc_mean_VO2_yellow(dataframe,start_row_count, yellow_start_row, yellow_end_row):
    
    # Create a new List
    mean_VO2_yellow = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        data_list = []
        for row in range(yellow_start_row[index], yellow_end_row[index]+1):
            value = dataframe.iat[row, 10]
            data_list.append(value)
        mean = stat.mean(data_list)
        mean_VO2_yellow.append(mean)
    
    return mean_VO2_yellow

In [142]:
def calc_mean_VCO2(dataframe, start_row_count):
    
     # Create a new list
    mean_VCO2 = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 12]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VCO2.append(mean)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 12]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VCO2.append(mean)
    
    return mean_VCO2

In [143]:
def calc_mean_VCO2_yellow(dataframe,start_row_count, yellow_start_row, yellow_end_row):
    
    # Create a new List
    mean_VCO2_yellow = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        data_list = []
        for row in range(yellow_start_row[index], yellow_end_row[index]+1):
            value = dataframe.iat[row, 12]
            data_list.append(value)
        mean = stat.mean(data_list)
        mean_VCO2_yellow.append(mean)
    
    return mean_VCO2_yellow

In [144]:
def calc_mean_VE(dataframe, start_row_count):
    
    # Create a new list
    mean_VE = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 13]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VE.append(mean)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 13]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_VE.append(mean)
    
    return mean_VE

In [145]:
def calc_mean_VE_yellow(dataframe,start_row_count, yellow_start_row, yellow_end_row):
    
    # Create a new List
    mean_VE_yellow = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        data_list = []
        for row in range(yellow_start_row[index], yellow_end_row[index]+1):
            value = dataframe.iat[row, 13]
            data_list.append(value)
        mean = stat.mean(data_list)
        mean_VE_yellow.append(mean)
    
    return mean_VE_yellow

In [146]:
def calc_mean_BPM(dataframe, start_row_count):
    
    # Create a new list
    mean_BPM = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 15]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_BPM.append(mean)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 15]
                data_list.append(value)
            mean = stat.mean(data_list)
            mean_BPM.append(mean)
    
    return mean_BPM

In [147]:
def calc_mean_BPM_yellow(dataframe,start_row_count, yellow_start_row, yellow_end_row):
    
    # Create a new List
    mean_VE_BPM = []
    
    # get data of VCO2
    for index in range(0, len(start_row_count)):
        data_list = []
        for row in range(yellow_start_row[index], yellow_end_row[index]+1):
            value = dataframe.iat[row, 15]
            data_list.append(value)
        mean = stat.mean(data_list)
        mean_VE_BPM.append(mean)
    
    return mean_VE_BPM

In [148]:
def calc_var_VO2(dataframe, start_row_count):
    
     # Create a new list
    var_VO2 = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 10]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VO2.append(var)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 10]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VO2.append(var)
    
    return var_VO2

In [149]:
def calc_var_VCO2(dataframe, start_row_count):
    
    # Create a new list
    var_VCO2 = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 12]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VCO2.append(var)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 12]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VCO2.append(var)
    
    return var_VCO2

In [150]:
def calc_var_VE(dataframe, start_row_count):
    
    # Create a new list
    var_VE = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 13]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VE.append(var)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 13]
                data_list.append(value)
            var = stat.variance(data_list)
            var_VE.append(var)
    
    return var_VE

In [151]:
def calc_var_BPM(dataframe, start_row_count):
    
    # Create a new list
    var_BPM = []
    
    # get data of VO2
    for index in range(0, len(start_row_count)):
        #print(index)
        data_list = []
        if (index == len(start_row_count)-1):
            for row in range(start_row_count[index], len(dataframe)-1):
                value = dataframe.iat[row, 15]
                data_list.append(value)
            var = stat.variance(data_list)
            var_BPM.append(var)
        else:
            for row in range(start_row_count[index], start_row_count[index+1]-1):
                value = dataframe.iat[row, 15]
                data_list.append(value)
            var = stat.variance(data_list)
            var_BPM.append(var)
    
    return var_BPM

In [152]:
fname = 'P:\\Metabolic Test\\RMR\\data\\data_all.xlsx'
df = pd.read_excel(fname)

In [153]:
df

,Patient ID,Age,Sex,Height (in),Height (cm),Weight (Ib),Weight (kg),Time (min),VO2/kg STPD (ml/kg/m),VO2 STPD (L/min),...,VCO2 STPD (L/min),(ml/min).1,VE STPD (L/min),RQ,RR (BPM),VE/VO2 (BT/ST),METS,TM SPD(mph),Start,End
0,1,46,F,67.000000,170.179993,186.380997,84.718636,0:18,4.205394,0.356275,...,0.247425,247.424841,7.473200,0.694477,12.834225,25.997837,1.201541,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,0:30,3.374727,0.285902,...,0.201463,201.463372,5.990118,0.704658,10.335917,25.967733,0.964208,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,0:49,3.794683,0.321480,...,0.227283,227.283075,6.813195,0.706989,9.424084,26.267130,1.084195,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,1:03,3.169709,0.268533,...,0.193977,193.977356,5.767123,0.722358,8.797654,26.618103,0.905631,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,1:20,3.762461,0.318751,...,0.238344,238.344163,6.795503,0.747745,6.737788,26.423296,1.074989,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,1:35,3.324426,0.281641,...,0.211946,211.945727,5.899158,0.752539,8.102633,25.960358,0.949836,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,1:46,3.010240,0.255023,...,0.191315,191.314548,5.261397,0.750184,10.978957,25.570383,0.860069,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,2:08,3.527878,0.298877,...,0.225742,225.742131,6.074594,0.755301,8.272058,25.190744,1.007965,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,2:16,3.503185,0.296785,...,0.222011,222.010523,6.056265,0.748051,7.509387,25.291759,1.000910,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,2:32,3.069382,0.260034,...,0.189974,189.974263,5.366534,0.730575,7.532957,25.578804,0.876966,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,2:49,3.233604,0.273947,...,0.198508,198.508263,5.570018,0.724624,10.452962,25.200380,0.923887,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,3:03,3.784981,0.320658,...,0.235353,235.352665,6.417772,0.733967,8.391608,24.806070,1.081423,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,3:16,3.660799,0.310138,...,0.225907,225.907400,6.223626,0.728410,9.884679,24.871666,1.045943,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,3:40,4.122827,0.349280,...,0.247611,247.611165,7.049178,0.708918,7.290401,25.013855,1.177951,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,3:47,3.386909,0.286934,...,0.203648,203.647926,5.795006,0.709737,8.333333,25.031544,0.967688,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,4:06,3.435890,0.291084,...,0.210130,210.130408,6.003760,0.721889,9.761388,25.563566,0.981683,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,4:15,2.342589,0.198461,...,0.149580,149.579898,4.174397,0.753699,13.636363,26.069630,0.669311,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,4:30,3.296297,0.279258,...,0.214313,214.313179,5.928269,0.767438,11.757022,26.311090,0.941799,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,4:48,3.007896,0.254825,...,0.194491,194.491386,5.581460,0.763236,9.895546,27.147034,0.859399,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,5:01,2.946846,0.249653,...,0.185897,185.897291,5.531932,0.744623,9.516257,27.463556,0.841956,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,5:18,3.938351,0.333652,...,0.241491,241.491005,7.256142,0.723782,10.550997,26.954336,1.125243,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,5:32,3.247314,0.275108,...,0.195274,195.273623,5.832074,0.709807,12.561061,26.274595,0.927804,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,5:49,2.652655,0.224729,...,0.159829,159.828931,4.797976,0.711206,11.009174,26.461508,0.757901,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,6:04,2.938350,0.248933,...,0.180394,180.393577,5.463936,0.724667,11.960133,27.204414,0.839529,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,6:17,3.197907,0.270922,...,0.196233,196.233481,6.134362,0.724316,8.714597,28.063435,0.913688,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,6:34,3.086954,0.261523,...,0.184391,184.390858,5.913030,0.705067,7.321538,28.023167,0.881987,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,6:52,3.164696,0.268109,...,0.189300,189.299971,5.755250,0.706057,6.543075,26.605385,0.904199,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,7:00,3.298331,0.279430,...,0.200420,200.420007,5.926514,0.717246,7.894737,26.287085,0.942380,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,7:16,3.142370,0.266217,...,0.194369,194.368690,5.626955,0.730113,11.090573,26.197111,0.897820,0.0,40,58
0,1,46,F,67.000000,170.179993,186.380997,84.718636,7:32,2.854533,0.241832,...,0.180031,180.030853,5.102683,0.744446,11.022657,26.151758,0.815581,0.0,40,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,74,53,F,66.535431,169.000000,291.434998,132.470444,23:16,3.211089,0.425374,...,0.283735,283.734709,9.259771,0.667024,17.479971,26.984079,0.917454,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,23:30,2.960062,0.392121,...,0.262098,262.097657,8.286562,0.668411,16.678249,26.195892,0.845732,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,23:48,3.040180,0.402734,...,0.277081,277.080834,8.737755,0.688000,16.844469,26.894299,0.868623,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,24:00,2.724935,0.360973,...,0.246809,246.809408,7.861244,0.683733,15.012510,26.995714,0.778553,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,24:15,3.100244,0.410691,...,0.279574,279.574156,8.906434,0.680741,19.193857,26.882372,0.885784,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,24:30,2.368871,0.313805,...,0.212531,212.531269,6.788870,0.677271,16.597511,26.817337,0.676820,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,24:46,3.397923,0.450124,...,0.303298,303.297728,9.899876,0.673809,18.472906,27.263142,0.970835,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,25:00,3.033200,0.401809,...,0.265050,265.050054,8.842906,0.659641,17.777779,27.280579,0.866629,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,25:15,2.942599,0.389807,...,0.258282,258.281916,8.434277,0.662588,19.354839,26.821085,0.840743,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,25:32,3.337298,0.442093,...,0.301473,301.472843,9.865726,0.681921,18.137848,27.662642,0.953514,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,25:45,2.738097,0.362717,...,0.244264,244.263932,8.157413,0.673428,18.045113,27.878101,0.782314,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,26:04,2.823963,0.374092,...,0.253363,253.363371,8.333784,0.677276,15.487868,27.614864,0.806847,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,26:15,2.797652,0.370606,...,0.250626,250.626266,8.315323,0.676260,17.408125,27.812820,0.799329,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,26:32,3.024270,0.400626,...,0.270367,270.366997,8.772651,0.674861,17.462166,27.143753,0.864077,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,26:48,2.836860,0.375800,...,0.253146,253.146082,8.076472,0.673619,15.084854,26.640568,0.810531,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,27:00,2.865211,0.379556,...,0.258176,258.176357,8.281316,0.680207,19.323673,27.045961,0.818632,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,27:16,3.162928,0.418994,...,0.281092,281.091869,9.052808,0.670873,19.035532,26.782656,0.903694,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,27:30,2.989381,0.396005,...,0.262403,262.402952,8.640098,0.662626,13.177159,27.045626,0.854109,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,27:47,3.102518,0.410992,...,0.271777,271.777362,9.022491,0.661272,16.825577,27.212708,0.886434,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,28:00,3.247667,0.430220,...,0.289727,289.726645,9.030526,0.673439,19.433197,26.019636,0.927905,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,28:15,3.644499,0.482788,...,0.328337,328.337491,10.299541,0.680086,15.335463,26.444761,1.041286,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,28:32,2.763803,0.366122,...,0.253905,253.905416,8.289474,0.693499,17.761988,28.065943,0.789658,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,28:46,2.903202,0.384588,...,0.273137,273.136646,8.680729,0.710205,17.977528,27.979412,0.829486,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,29:02,2.779877,0.368252,...,0.254604,254.603684,8.275614,0.691385,18.773466,27.856991,0.794251,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,29:18,2.963151,0.392530,...,0.268293,268.292934,8.790542,0.683497,18.867926,27.760128,0.846615,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,29:32,2.631129,0.348547,...,0.237002,237.001568,8.002380,0.679971,16.249153,28.460119,0.751751,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,29:48,2.597857,0.344139,...,0.232133,232.133165,7.879540,0.674533,15.286625,28.382147,0.742245,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,30:02,2.750268,0.364329,...,0.242671,242.671177,8.079810,0.666077,16.759777,27.490698,0.785791,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,30:15,2.868069,0.379934,...,0.251517,251.517087,8.076003,0.662001,19.277107,26.349144,0.819448,NaN,43,83
0,74,53,F,66.535431,169.000000,291.434998,132.470444,30:29,2.758224,0.365383,...,0.239753,239.752591,7.614099,0.656168,16.913321,25.831444,0.788064,NaN,43,83

In [154]:
row_patient = get_row_patient(df)

[190,
 148,
 148,
 164,
 120,
 103,
 144,
 119,
 110,
 132,
 116,
 128,
 123,
 108,
 200,
 96,
 122,
 122,
 122,
 125,
 138,
 104,
 103,
 106,
 117,
 128,
 118,
 118,
 164,
 120,
 122,
 170,
 135,
 128,
 121,
 121,
 118,
 90,
 136,
 120,
 138,
 134,
 123,
 120,
 126,
 49,
 142,
 119,
 129,
 127,
 115,
 116,
 114,
 129,
 144,
 164,
 137,
 120,
 122,
 150,
 175,
 122,
 120,
 121,
 141,
 186,
 123,
 123,
 120,
 127,
 113,
 140,
 126,
 122]

In [155]:
start_row_patient = get_start_row_number(row_patient)
start_row_patient

[0,
 190,
 338,
 486,
 650,
 770,
 873,
 1017,
 1136,
 1246,
 1378,
 1494,
 1622,
 1745,
 1853,
 2053,
 2149,
 2271,
 2393,
 2515,
 2640,
 2778,
 2882,
 2985,
 3091,
 3208,
 3336,
 3454,
 3572,
 3736,
 3856,
 3978,
 4148,
 4283,
 4411,
 4532,
 4653,
 4771,
 4861,
 4997,
 5117,
 5255,
 5389,
 5512,
 5632,
 5758,
 5807,
 5949,
 6068,
 6197,
 6324,
 6439,
 6555,
 6669,
 6798,
 6942,
 7106,
 7243,
 7363,
 7485,
 7635,
 7810,
 7932,
 8052,
 8173,
 8314,
 8500,
 8623,
 8746,
 8866,
 8993,
 9106,
 9246,
 9372]

In [156]:
overall_time = get_overall_time(df)
overall_time

[datetime.timedelta(0, 2832),
 datetime.timedelta(0, 2205),
 datetime.timedelta(0, 2204),
 datetime.timedelta(0, 2439),
 datetime.timedelta(0, 1784),
 datetime.timedelta(0, 1530),
 datetime.timedelta(0, 2163),
 datetime.timedelta(0, 1763),
 datetime.timedelta(0, 1640),
 datetime.timedelta(0, 1966),
 datetime.timedelta(0, 1911),
 datetime.timedelta(0, 1904),
 datetime.timedelta(0, 1824),
 datetime.timedelta(0, 1607),
 datetime.timedelta(0, 2985),
 datetime.timedelta(0, 1418),
 datetime.timedelta(0, 1815),
 datetime.timedelta(0, 1812),
 datetime.timedelta(0, 1831),
 datetime.timedelta(0, 1855),
 datetime.timedelta(0, 2047),
 datetime.timedelta(0, 1545),
 datetime.timedelta(0, 1576),
 datetime.timedelta(0, 1567),
 datetime.timedelta(0, 1736),
 datetime.timedelta(0, 1902),
 datetime.timedelta(0, 1752),
 datetime.timedelta(0, 1758),
 datetime.timedelta(0, 2438),
 datetime.timedelta(0, 1788),
 datetime.timedelta(0, 1814),
 datetime.timedelta(0, 2593),
 datetime.timedelta(0, 2004),
 datetime.timedelta(0, 1918),
 datetime.timedelta(0, 1798),
 datetime.timedelta(0, 1798),
 datetime.timedelta(0, 1747),
 datetime.timedelta(0, 1407),
 datetime.timedelta(0, 2018),
 datetime.timedelta(0, 1785),
 datetime.timedelta(0, 2055),
 datetime.timedelta(0, 1997),
 datetime.timedelta(0, 1842),
 datetime.timedelta(0, 1785),
 datetime.timedelta(0, 1874),
 datetime.timedelta(0, 2884),
 datetime.timedelta(0, 2107),
 datetime.timedelta(0, 1768),
 datetime.timedelta(0, 1919),
 datetime.timedelta(0, 1887),
 datetime.timedelta(0, 1707),
 datetime.timedelta(0, 1728),
 datetime.timedelta(0, 1694),
 datetime.timedelta(0, 1934),
 datetime.timedelta(0, 2138),
 datetime.timedelta(0, 2438),
 datetime.timedelta(0, 2034),
 datetime.timedelta(0, 1781),
 datetime.timedelta(0, 1819),
 datetime.timedelta(0, 2231),
 datetime.timedelta(0, 3091),
 datetime.timedelta(0, 1812),
 datetime.timedelta(0, 1784),
 datetime.timedelta(0, 1798),
 datetime.timedelta(0, 2094),
 datetime.timedelta(0, 2804),
 datetime.timedelta(0, 1822),
 datetime.timedelta(0, 1828),
 datetime.timedelta(0, 1788),
 datetime.timedelta(0, 1887),
 datetime.timedelta(0, 1682),
 datetime.timedelta(0, 2079),
 datetime.timedelta(0, 1869),
 datetime.timedelta(0, 1813)]

In [157]:
yellow_start = get_yellow_row_start(df, start_row_patient)
yellow_start

[39,
 240,
 350,
 571,
 669,
 836,
 949,
 1096,
 1165,
 1290,
 1402,
 1536,
 1662,
 1805,
 1912,
 2073,
 2188,
 2311,
 2425,
 2521,
 2687,
 2807,
 2921,
 3041,
 3121,
 3227,
 3399,
 3473,
 3701,
 3811,
 3885,
 4103,
 4208,
 4292,
 4462,
 4576,
 4697,
 4786,
 4876,
 5005,
 5122,
 5346,
 5408,
 5570,
 5667,
 5779,
 5824,
 6024,
 6081,
 6220,
 6364,
 6471,
 6584,
 6746,
 6843,
 7041,
 7145,
 7290,
 7414,
 7564,
 7656,
 7818,
 7955,
 8075,
 8209,
 8327,
 8520,
 8705,
 8806,
 8923,
 9041,
 9141,
 9309,
 9414]

In [158]:
yellow_end = get_yellow_row_end(df, start_row_patient)
yellow_end

[57,
 280,
 391,
 609,
 709,
 847,
 987,
 1134,
 1205,
 1330,
 1440,
 1576,
 1702,
 1845,
 1960,
 2113,
 2228,
 2351,
 2426,
 2560,
 2728,
 2847,
 2961,
 3081,
 3161,
 3267,
 3439,
 3513,
 3732,
 3855,
 3925,
 4142,
 4240,
 4316,
 4502,
 4616,
 4717,
 4823,
 4916,
 5045,
 5162,
 5386,
 5448,
 5611,
 5707,
 5790,
 5865,
 6064,
 6121,
 6260,
 6403,
 6511,
 6624,
 6786,
 6883,
 7081,
 7185,
 7332,
 7454,
 7607,
 7687,
 7852,
 7995,
 8115,
 8249,
 8357,
 8560,
 8745,
 8846,
 8963,
 9081,
 9181,
 9349,
 9454]

In [159]:
yellow_overall_time = yellow_overall_time(df, yellow_start, yellow_end)
yellow_overall_time

[datetime.timedelta(0, 272),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 617),
 datetime.timedelta(0, 571),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 164),
 datetime.timedelta(0, 592),
 datetime.timedelta(0, 569),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 603),
 datetime.timedelta(0, 747),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 604),
 datetime.timedelta(0, 597),
 datetime.timedelta(0, 723),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 602),
 datetime.timedelta(0, 598),
 datetime.timedelta(0, 10),
 datetime.timedelta(0, 583),
 datetime.timedelta(0, 617),
 datetime.timedelta(0, 598),
 datetime.timedelta(0, 595),
 datetime.timedelta(0, 602),
 datetime.timedelta(0, 600),
 datetime.timedelta(0, 462),
 datetime.timedelta(0, 597),
 datetime.timedelta(0, 600),
 datetime.timedelta(0, 438),
 datetime.timedelta(0, 663),
 datetime.timedelta(0, 603),
 datetime.timedelta(0, 603),
 datetime.timedelta(0, 481),
 datetime.timedelta(0, 362),
 datetime.timedelta(0, 596),
 datetime.timedelta(0, 597),
 datetime.timedelta(0, 299),
 datetime.timedelta(0, 557),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 619),
 datetime.timedelta(0, 615),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 661),
 datetime.timedelta(0, 614),
 datetime.timedelta(0, 595),
 datetime.timedelta(0, 600),
 datetime.timedelta(0, 603),
 datetime.timedelta(0, 583),
 datetime.timedelta(0, 604),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 612),
 datetime.timedelta(0, 597),
 datetime.timedelta(0, 605),
 datetime.timedelta(0, 603),
 datetime.timedelta(0, 631),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 647),
 datetime.timedelta(0, 566),
 datetime.timedelta(0, 507),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 602),
 datetime.timedelta(0, 601),
 datetime.timedelta(0, 449),
 datetime.timedelta(0, 602),
 datetime.timedelta(0, 596),
 datetime.timedelta(0, 600),
 datetime.timedelta(0, 598),
 datetime.timedelta(0, 598),
 datetime.timedelta(0, 599),
 datetime.timedelta(0, 600),
 datetime.timedelta(0, 599)]

In [160]:
mean_VO2 = calc_mean_VO2(df, start_row_patient)
mean_VO2

[281.30877577753927,
 295.24316349808049,
 225.37991566722897,
 243.98876909463689,
 263.91163355663042,
 279.04296819778051,
 53.183159875598818,
 276.76682350999221,
 242.22879282651695,
 346.35768651621038,
 267.26569552784377,
 250.09209856273623,
 273.67686724565067,
 270.20980320244195,
 242.1656370762006,
 218.62132204206367,
 209.4071466814388,
 266.36354982360336,
 408.67163573414825,
 254.98523274737019,
 285.43230325636205,
 246.25193841249046,
 315.97584588270564,
 371.67007208225272,
 239.73796388198582,
 192.04475666124992,
 239.60508508050546,
 364.34796923755579,
 283.62992794418631,
 244.06113607041971,
 395.03011600045136,
 274.98199967061277,
 205.80547336322158,
 239.62042592172554,
 235.81218669811886,
 349.61885561545688,
 286.02347796798773,
 173.28722733125258,
 259.28499566184149,
 225.22827062536686,
 319.84473503854156,
 243.50387799112417,
 255.66810235136847,
 308.10733991009846,
 314.53575360774994,
 319.12442110478878,
 226.83017901706356,
 221.08836885604822,
 364.92766672745347,
 266.39898476146516,
 374.12366820009129,
 228.74483595723692,
 244.332102415836,
 95.000557135790586,
 252.29685321137626,
 190.82098243975196,
 209.49957284199837,
 287.52466009444549,
 266.67347156311854,
 278.699548702512,
 229.87516241512088,
 313.59157311029668,
 204.04514081838752,
 155.88417461452386,
 298.04415000336513,
 292.69669120376176,
 275.2161066307396,
 193.7480982026604,
 259.93953532531481,
 128.85185573545715,
 359.1387677671654,
 147.11743475293085,
 403.9252108335495,
 366.8194458750653]

In [161]:
mean_VCO2 = calc_mean_VCO2(df, start_row_patient)
mean_VCO2

[194.46650604722362,
 227.22516903260933,
 162.83871831537104,
 188.58625954645547,
 205.18059965943095,
 200.08561818623076,
 40.468306632360793,
 211.78964007708987,
 186.00998200271104,
 288.18338283316325,
 221.13349547852641,
 197.26638114593163,
 219.45337816828581,
 207.21966341555671,
 177.14895236881534,
 173.74691712228875,
 171.23132402246648,
 188.28717551448128,
 373.44992444042333,
 203.95203247185677,
 238.00152554744525,
 182.22811796422147,
 255.14134063440207,
 272.8301118349745,
 159.37332237332035,
 136.71799408873233,
 187.36908935074109,
 305.07715886984124,
 232.17698067792355,
 160.89115028872214,
 308.54242042569092,
 202.9013301317508,
 152.17636664634321,
 192.4030746765963,
 186.62558173139891,
 276.27433277666569,
 220.24513118796878,
 136.37839492117422,
 195.21310528119409,
 173.6509489881642,
 262.96740280885768,
 183.42373469718416,
 191.95507185869531,
 231.43633974700415,
 252.49593663215637,
 246.28954473882922,
 151.4351414450517,
 171.04090093556098,
 281.56079712789511,
 179.43335087999466,
 266.77369548563377,
 147.74029112380484,
 177.4052080195562,
 75.94425197748933,
 190.5816844501696,
 147.2810690114103,
 155.97123767742343,
 199.70655441284177,
 198.01367117353703,
 199.09024893637471,
 164.7654082412007,
 225.37620550344798,
 148.38812262320718,
 118.04939045105131,
 216.15108480410916,
 202.73750883501933,
 212.06992119550702,
 142.22782276204379,
 189.32699693852112,
 95.654288646838978,
 245.00266090035436,
 130.15789152692548,
 306.86377012729645,
 249.97390769729927]

In [162]:
mean_VE = calc_mean_VE(df, start_row_patient)
mean_VE

[6.0794036047799249,
 7.5286517889321258,
 5.3829834736934323,
 5.6200853798287049,
 6.932525991391735,
 6.3105939603319356,
 1.6194592351680037,
 6.1860786130872834,
 6.6602394799573705,
 8.6288696345482148,
 6.2391366937886108,
 5.8758684537542152,
 6.282996109274567,
 7.395399459054536,
 5.8363316334671707,
 4.905605042608161,
 5.5395053634958815,
 6.7565863979749441,
 14.261901207206666,
 6.5631140393595544,
 7.1935320437956198,
 6.1635558952405614,
 7.3544751756331497,
 8.3045109939007524,
 6.235558067930155,
 4.951051030572005,
 7.1485909559787846,
 9.0777784983317051,
 7.4317117673487747,
 6.0589045536618276,
 10.167614298418533,
 4.8231423359650831,
 5.1617413029741881,
 5.7329194095191056,
 6.5962411602338156,
 7.9439496338367483,
 6.7275114303980112,
 4.9983583648553056,
 6.4232323028423171,
 5.9672857633157941,
 7.762538081538068,
 5.4507527969924805,
 5.1924103859995245,
 7.7081510760203127,
 7.7354168777465819,
 7.6043378214041395,
 5.2293372999691794,
 5.1987517607414118,
 9.1993564926087839,
 5.9214650941273526,
 7.6426029226236167,
 5.0904957128607711,
 6.4372552221855237,
 3.1076252521015704,
 0.76013297259390766,
 4.6185939151085229,
 5.6675813531174377,
 6.7573974833768959,
 6.5770120423687395,
 6.0933305017100086,
 3.9481829267808761,
 7.0973058889720066,
 4.8493466457399004,
 3.9238028655449551,
 6.9490505797522415,
 6.249982050302866,
 6.2945219434675623,
 5.0089666276681619,
 5.8787912641252786,
 3.7165638861202059,
 8.3122884588582178,
 4.1487145132298089,
 9.9090477695465076,
 7.9726984599405082]

In [163]:
mean_BPM = calc_mean_BPM(df, start_row_patient)
mean_BPM

[10.995742754961448,
 13.144402231488909,
 11.624660323266266,
 11.626628337462256,
 16.52877503483235,
 13.358915048487049,
 6.7673718695873992,
 11.842345601421295,
 14.836986174277209,
 14.949718981298778,
 6.2411260045093035,
 10.376152139949047,
 7.8995826166184226,
 17.939039872071451,
 13.672537645502905,
 12.877134664435136,
 11.888824892438148,
 16.058474454012785,
 8.0881301588263419,
 17.043966677881059,
 14.825072810218979,
 16.458353487033289,
 10.028417565074621,
 15.64324917339143,
 16.127076420290717,
 12.036624288934423,
 17.758664685436806,
 13.357971444089188,
 9.5028334658570071,
 16.79758657727923,
 8.5758291118401146,
 5.3859747669400537,
 13.683063926981456,
 9.9800943596156557,
 13.517419274648031,
 11.806440142790475,
 9.3624323290637381,
 11.929042580422388,
 12.732749151300505,
 11.119649286029718,
 11.753142739734511,
 10.171523789473685,
 6.6278122331275311,
 14.489668846130368,
 18.169931106567386,
 12.932770788669584,
 13.325215566242841,
 12.633960024785186,
 19.440499320626259,
 16.958630236368332,
 13.741351617010015,
 10.014131077476168,
 15.903120403796171,
 13.060534071177248,
 25.725468468832801,
 10.5763651461689,
 16.987792604109821,
 16.90666209148759,
 12.473083976871713,
 13.85741329833165,
 4.5950774776524508,
 12.340251225085298,
 13.672223968666144,
 11.795248413085934,
 15.628354253087728,
 8.1533578344293574,
 14.153150144170542,
 12.419715189542925,
 14.42172552156849,
 16.500673089708606,
 16.623827738421308,
 11.077624667462684,
 14.08280400276184,
 16.862409812359775]

In [164]:
var_VO2 = calc_var_VCO2(df, start_row_patient)
var_VO2

[477.54948559636449,
 1452.7275072419391,
 395.22770465570585,
 278.67830016079057,
 1188.6971330254476,
 1709.976429121738,
 156.47564072393817,
 221.74059714353055,
 1816.8717371342584,
 5019.0247784536659,
 3148.2138391703816,
 2355.7610678591973,
 2573.5871864307755,
 2110.3292727190533,
 1359.3653511681957,
 313.72218635218474,
 659.59921405992804,
 358.45405434256787,
 14817.825844692507,
 697.69994207376453,
 1295.3422824570632,
 940.64029560907068,
 1844.983029162242,
 2527.6437930134666,
 645.75620670855517,
 300.76600786911234,
 1081.0208931184136,
 2881.1766563555534,
 2618.5869859558202,
 672.00639691562151,
 4952.305725574598,
 1316.5235436211533,
 944.01092566377565,
 1851.59413206721,
 568.35542634101591,
 4608.9427474193953,
 2990.8698444158231,
 758.1414468595093,
 1023.0251852979361,
 1913.043080100445,
 4892.8417194690646,
 525.08537915910745,
 3474.2318387601272,
 848.63990212917327,
 853.34780598458508,
 1027.1791794940204,
 1176.6247746095025,
 1843.6259453331963,
 2218.4518668606779,
 689.73165598051867,
 2219.3528668652484,
 1000.1222416776548,
 827.51282101074594,
 1170.2157714144719,
 1664.2301617977905,
 460.93753857082044,
 826.51685273006922,
 280.28431019957645,
 1907.4420561927654,
 1984.1219745258179,
 1559.4567291248197,
 779.34108641152704,
 210.04554321782769,
 520.78098457557974,
 2233.4176920769487,
 4243.2066502553143,
 1009.8139329891399,
 539.98719844935135,
 527.92618561915651,
 934.13287707513973,
 524.1942565443436,
 782.10054673969398,
 7875.9287341171894,
 1137.8337121593729]

In [165]:
mean_VO2_yellow = calc_mean_VO2_yellow(df, start_row_patient, yellow_start, yellow_end)
mean_VO2_yellow

[274.84433039238581,
 292.05107034706492,
 202.33831306298578,
 243.4204748043648,
 248.91098752254388,
 275.3535931309064,
 52.224681784327217,
 288.50233172759027,
 245.60610041385749,
 337.85270845017783,
 223.37401448152008,
 234.26068483329411,
 273.64921606168514,
 263.849593153814,
 234.01471060149527,
 209.42480971173543,
 199.92037190169819,
 262.69401282798958,
 289.76228088140499,
 243.80399212241178,
 273.1093771400906,
 236.83164577658596,
 305.63821625418785,
 379.35333317372857,
 229.37148555022907,
 182.50176056129169,
 246.17018677839428,
 373.60246443166972,
 253.69983352720743,
 249.05493855476377,
 379.29686903953547,
 259.58829857409,
 207.13939179073685,
 229.96072769165056,
 230.85816022826398,
 336.6993858319957,
 270.81444717588874,
 155.82547219176038,
 238.00333534798966,
 219.70257490146443,
 299.61438295317862,
 259.62019039363395,
 224.67228861116786,
 303.93926444507775,
 297.69449662871477,
 306.73886835575098,
 228.7399236645017,
 216.9081775880442,
 339.48177389982277,
 261.19922319563426,
 354.11925427615643,
 228.84035546605188,
 231.74193065340927,
 119.52830778389442,
 257.18114216153219,
 198.59536101178421,
 199.31359243829073,
 284.70947749392928,
 262.95359505385886,
 279.697126624259,
 225.82655306905517,
 301.42943944249834,
 196.08439105313002,
 150.63646835524858,
 291.38167093439802,
 262.87003390250669,
 259.26846592891508,
 197.38526896732614,
 255.00843146952187,
 138.84697036772241,
 352.12801433191066,
 142.45437485415761,
 415.39994936163833,
 361.21761871547221]

In [166]:
mean_VCO2_yellow = calc_mean_VCO2_yellow(df, start_row_patient, yellow_start, yellow_end)
mean_VCO2_yellow

[190.94308269651316,
 221.61643497827578,
 144.10439098165142,
 188.09378529206305,
 191.21575173808313,
 190.62039876977599,
 38.400008749121277,
 215.67640090600042,
 186.08985359712341,
 276.08253606935818,
 190.77673630836688,
 182.2237123439952,
 214.28675295376183,
 184.78649254979149,
 170.24530485576514,
 165.09183877851905,
 161.57693070609395,
 184.30472692338432,
 296.32285237312351,
 192.82127581536764,
 227.81121428571427,
 175.50138256898745,
 249.78931102810833,
 286.50676768000528,
 155.59325439900891,
 128.57002764940262,
 184.06834925820186,
 305.04515367310222,
 202.55235442891723,
 166.60300460126672,
 292.65963994875187,
 201.07658393681055,
 154.20713343403563,
 186.98334336280826,
 179.38901883799855,
 265.22754895977857,
 201.8869022528331,
 121.66413605997441,
 178.56266840202056,
 158.39838618185459,
 257.39028722774691,
 197.85421069075423,
 174.809546732321,
 228.65584031457001,
 242.80421145078611,
 234.79393621285774,
 150.92047108780764,
 167.21552337815118,
 261.62574240347243,
 176.2730820876796,
 254.03853803873056,
 147.46287465095526,
 168.44249262315466,
 94.720366978790679,
 191.62531269759677,
 151.18605298240004,
 148.11863423120687,
 196.02625210617856,
 186.62295326953981,
 196.71129638498485,
 161.35771409608421,
 222.10909511361808,
 143.78780926146158,
 112.36436138065849,
 208.57511896912641,
 202.83481166247407,
 191.37275400685104,
 145.44225120689816,
 191.46157546741205,
 104.61297831157358,
 245.57050444730899,
 127.75260246381522,
 305.52786661357408,
 248.80279636964556]

In [167]:
mean_VE_yellow = calc_mean_VE_yellow(df, start_row_patient, yellow_start, yellow_end)
mean_VE_yellow

[5.9258258719193311,
 7.4630940832742834,
 4.7677609125773115,
 5.6580311212784204,
 6.406623921743253,
 6.2797541220982884,
 1.5341875278032748,
 6.4591983037117204,
 6.7985440638007191,
 8.6643787360772855,
 5.4919517162518616,
 5.5307197745253402,
 6.1422797063501866,
 6.7390220804912273,
 5.7369481300821112,
 4.6846195255837788,
 5.33313386033221,
 6.710107954536995,
 11.35456418991091,
 6.2876350998878481,
 7.0122141428571423,
 6.0798301929380827,
 7.2433431439283416,
 8.5734576830049853,
 6.17003100092818,
 4.5877893785151045,
 7.1015457990692852,
 8.9791731136601136,
 6.3744550496339807,
 6.3512999216715498,
 9.7119494414911003,
 4.7228142082691189,
 5.1336764639074151,
 5.5772109603881832,
 6.4350474404125677,
 7.8077976471040289,
 6.1917799767993742,
 4.4402687424107601,
 6.0580190681829684,
 5.5784717652855846,
 7.5723291024929136,
 5.2886873902439024,
 4.7404899800696025,
 7.8799947670527866,
 7.559686032737174,
 7.5037699540456133,
 5.2609538123721169,
 5.1243225946658999,
 8.7700014114379865,
 5.945374221336551,
 7.4255505323410036,
 5.1638492607488864,
 6.2148610208092663,
 3.7121285607175127,
 0.74597071874432452,
 4.8361534374516184,
 5.6234466506213687,
 6.9148142282352891,
 6.5242316897322494,
 6.4738851623101672,
 3.6933144479990001,
 6.8001701491219659,
 4.7396522963919292,
 3.6517266820116743,
 6.8097910415835496,
 6.4869226178815289,
 5.7794631283457694,
 5.2520983044694107,
 6.085348012970714,
 4.009387946710353,
 8.3814280207564185,
 4.1765523014999015,
 10.023335363806748,
 7.9200269536274233]

In [168]:
mean_BPM_yellow = calc_mean_BPM_yellow(df, start_row_patient, yellow_start, yellow_end)
mean_BPM_yellow

[10.36474953199688,
 13.978803704424601,
 11.13993867238362,
 11.885886656932346,
 17.168000663199074,
 15.853991746902459,
 6.3622929499699508,
 12.654473402561292,
 16.805383531058709,
 16.068635475344774,
 6.1642805551871271,
 10.696025313400643,
 8.3012457126524382,
 17.780246595057044,
 14.043841770717084,
 12.526438061783956,
 12.217034619028976,
 16.209191973616441,
 7.2681894302368146,
 16.997217369079596,
 15.215928357142857,
 17.392989251671771,
 10.573774721564313,
 15.782917255308567,
 16.52943732098835,
 11.33766095231219,
 17.956775921147045,
 13.13627653587155,
 10.667201772332188,
 17.227141613430451,
 8.3598649211046112,
 4.6030895531177514,
 13.312929124543162,
 10.185457096099849,
 13.497895543168228,
 11.934812499255663,
 9.2074151266188835,
 11.929676244133395,
 12.700128904203092,
 13.668265528795201,
 12.731416725530863,
 7.1189373414634156,
 6.340708802386029,
 15.422593230292911,
 18.247216364232507,
 14.510655085245766,
 13.970523221152167,
 13.980970999089683,
 18.915980513502916,
 17.271203110857712,
 14.031191396713258,
 10.988430779154701,
 15.691488777718888,
 12.668819404229888,
 25.556935333624114,
 10.928478310747838,
 17.599005815459456,
 18.086514251176691,
 13.4892834454048,
 15.63474735346707,
 3.4622912108898167,
 11.902804361070906,
 13.827121385713905,
 11.761314554912289,
 15.841340972156056,
 7.8090958287639003,
 14.28150277021455,
 13.743482961887272,
 15.253914251560118,
 17.710980636317565,
 16.542173199537331,
 11.763956465372225,
 14.511856625719767,
 16.836047637753374]

In [22]:
m, s = divmod(seconds, 60)
h, m = divmod(m, 60)
print "%d:%02d:%02d" % (h, m, s)

SyntaxError: invalid syntax (<ipython-input-22-5a7125a9dc4f>, line 3)

In [25]:
stat.mean([1,2,3,4,5])

3.0

In [43]:
value = df.iat[1, 11]
value

0.20146337151527399